body {
    font-family: Arial, Helvetica, sans-serif;
}

header {

    margin: 0;
    background-color: #232F3E;
    height: 7vh;
}

.headerimg {
    display: inline;
    height: 60%;
    padding-top: 10px;
    padding-left: 42px;
}

nav {
    background-color: #485769;
    height: 4vh;
}

.navdiv>a {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 20px;
    font-size: 0.8em;
}

.navdiv {
    padding-left: 50px;
    padding-top: 4px;
}

span {
    text-transform: lowercase;
}

.barraarancione {
    background-color: #FF6201;
    margin: 50px;
    height: 4vh;
}

.parancione {
    color: #FFFFFF;
    padding-top: 5px;
    font-size: 0.9em;
}

h1,
.navdiv>a,
.parancione {
    text-transform: capitalize;
}

h1,
.parancione,
.sottotitolo {
    text-align: center;
    color: #FFFFFF;
}

main {
    background-image: url(../../img/bg-image.png);
    background-size: 90%;
    padding-top: 9vh;
    margin-left: 50px;
    margin-right: 50px;
    overflow: hidden;
    height: 18vh;
}
article {
    width: auto;

}
.sectionspan{
    color:#2f6e60;
    text-emphasis: none;
    font-size: 13px;
    padding-left: 15px;
}
.sfondo{
    background-color: #e3e6e6;
    margin:0;
    padding:0;
}
section{
    border: 2px,solid #FFFFFF;
    margin: 50px;
    background-color: #FFFFFF;
}

